/* styles.css */
.btn-custom-student-new {
  background-color: #f3b89c; /* Orange */
  text-align: center;
}

.btn-custom-student-login {
  background-color: #bcd5cf; /* Green */
  text-align: center;
}

.btn-custom-teacher-login {
  background-color: #dec4f3; /* Purple */
  text-align: center;
}
