.main-img-card {
  background-color: transparent !important;
  text-align: center !important;
  border: none !important;
}
--bs-card-bg {
  background-color: none !important;
}

@media (min-width: 1200px) {
  .main-img-card {
    margin-top: 5rem !important;
  }
}
