/* .box {
  margin: 10px;
  width: 25rem;
} */

.card-img-top {
  width: 100% !important;
  height: auto;
}

.card-text {
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1668px) {
  .grid {
    margin-top: 5rem;
    /* width: 25rem; */
  }
}

/* 768 - 1688 */

/* @media (max-width: 838px) {
  .grid {
    margin-top: 1rem;
    width: 25rem;
  }
} */

/* @media (max-width: 519px) {
  .grid {
    margin-top: 5rem;
    width: 14rem;
  }
} */

@media (max-width: 767px) {
  .grid {
    margin-top: 2rem;
    width: 25rem;
    margin-left: 8rem;
  }
}

@media (max-width: 646px) {
  .grid {
    margin-top: 2rem;
    width: 25rem;
    margin-left: 6rem;
  }
}

@media (max-width: 620px) {
  .grid {
    margin-top: 2rem;
    width: 25rem;
    margin-left: 4rem;
  }
}

@media (min-width: 500px) and (max-width: 549px) {
  .grid {
    margin-top: 2rem;
    width: 25rem;
    margin-left: 3rem;
  }
}
