.box {
  margin: 10px;
  width: 25rem;
}

.grid {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.card-img-top {
  width: 100% !important;
  height: auto;
}

.card-text {
  text-align: center;
}

@media (max-width: 1668px) {
  .grid {
    margin-top: 0.1rem;
  }
}

@media (max-width: 1284px) {
  .box {
    margin-top: 5rem;
  }
}

@media (max-width: 838px) {
  .box {
    margin-top: 5rem;
    width: 15rem;
  }
}

@media (max-width: 519px) {
  .box {
    margin-top: 5rem;
    width: 14rem;
  }
}

@media (max-width: 500px) {
  .box {
    margin-top: 2rem;
    width: 24rem;
    margin-left: 3rem;
  }
}
