.form-top-space {
  margin-top: 20rem;
}

.btn-login {
  background-color: #f3b89c !important;
  border: none !important;
  margin-right: 20px !important;
}

.btn-login:hover {
  background-color: #f1daae !important;
}

a {
  color: black !important;
}

.btn-back {
  background-color: #f1daae !important;
  border: none !important;
  color: #000000 !important;
  margin-right: 20px !important;
}

@media (max-width: 1375px) {
  .form-top-space {
    margin-top: 1rem;
  }
}

.card-group > .card {
  --bs-card-group-margin: 0rem;
}
/*this removes a weird orange line that shows up on mobile*/
