.form-top-space {
  margin-top: 20rem;
}

.register-dropdown {
  background-color: #dec4f3 !important;
  color: #000000 !important;
  border: none !important;
  margin-left: 4.8rem;
  margin-bottom: 2rem;
}

a {
  color: black !important;
}

@media (max-width: 1375px) {
  .form-top-space {
    margin-top: 1rem;
  }
}

.card-group > .card {
  --bs-card-group-margin: 0rem;
}
/*this removes a weird orange line that shows up on mobile*/

@media (max-width: 600px) {
  .register-dropdown {
    margin-left: 3.5rem;
  }
}
