.header-teacher {
  background-color: #1f4b98; /* Dark blue color for teachers (admins) */
}

.header-student {
  background-color: #4895ef; /* Light blue color for students (non-admins) */
}

.fallback-color {
  background-color: #f1daae; /* Yelllow colour for a backup*/
}

.home-icon {
  margin-left: 4rem;
}
