.header-teacher {
  background-color: #dec4f3; /* Purple color for teachers (admins) */
}

.header-student {
  background-color: #bcd5cf; /* Green color for students (non-admins) */
}

.fallback-color {
  background-color: #f1daae; /* Yelllow colour for a backup*/
}
