.main-body-layout {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  background-color: #f1daae !important;
}

.category-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Add some gap between the cards */
}

/* Assuming the CategoryCard component generates cards with a class name "category-card" */
.category-card {
  flex-basis: calc(
    33.33% - 20px
  ); /* To make the cards appear in rows, set their width to 33.33% and subtract the gaps */
}

.left-side-image-card {
  background-color: #f1daae !important;
  border: none !important;
}

.left-side-image-card-student {
  background-color: #bcd5cf !important;
  border: none !important;
}

.left-side-image-card-teacher {
  background-color: #dec4f3 !important;
  border: none !important;
}

.background-teacher {
  background-color: transparent !important;
  text-align: center !important;
  border: none !important;
}

.background-student {
  background-color: transparent !important;
  text-align: center !important;
  border: none !important;
}

--bs-card-bg {
  background-color: none !important;
}

@media (min-width: 1200px) {
  .main-img-card {
    margin-top: 5rem !important;
  }
}

.main-div {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}
.single-move-div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.card-btn-color {
  background-color: #f3b89c;
  color: #000000;
  text-align: center;
}

.lesson-card-btn-color {
  background-color: #dec4f3;
  text-align: center;
}

.all-moves-and-classes-nav {
  color: #117b62;
  margin-top: 2rem;
}

a {
  text-decoration: none !important;
}

.header-teacher {
  background-color: #dec4f3; /* Purple color for teachers (admins) */
}

.header-student {
  background-color: #bcd5cf; /* Green color for students (non-admins) */
}

.fallback-color {
  background-color: #f1daae; /* Yelllow colour for a backup*/
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1375px) {
  .card-group {
    display: block !important; /*This makes the cards wrap around sooner*/
  }
}
